body{
    color: white;
    background: black;
    margin: 0px;
    font-family: "Kanit", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(72, 1, 251);
    padding: 20px; 
    font-size: 32px;
    color: rgb(72, 1, 251);
}

.chamada{
    background: rgb(147, 112, 219);
    padding-bottom: 70px;
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

div{
    margin-right: 30px;
}


.chamada-texto{
    margin: 10px;
    
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
}

.cateoria-videos img{
    opacity: 0.5;
}

.categoria-videos img:hover{
    opacity:1.0;
    border: 1px solid blue;
}

img{
    height: 200px;
}

.categoria h2{
    color: rgb(72, 1, 251);
}